Source: hello-world
Section: misc
Priority: optional
Maintainer: Sebastian Schulz <16666034+seb-schulz@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: hello-world
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Example to how to build a simple debian package
 It shows how to build a debian package
